#============= platform_app ==============
allow platform_app device:chr_file { read write ioctl open };
allow platform_app graphics_device:dir search;
