import init.qcom.usb.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug

on init
    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root

    # External storage directories
    mkdir /mnt/media_rw/sdcard1 0700 media_rw media_rw
    mkdir /storage/sdcard1 0700 root root

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated
    export SECONDARY_STORAGE /storage/sdcard1

    # Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy
    symlink /storage/sdcard1 /external_sd
    symlink /storage/sdcard1 /mnt/external_sd

on fs
    mkdir /efs 0771 radio system
    mkdir /persist 0771 system system
    mkdir /preload 0771 system system

    mount_all /fstab.qcom
    setprop ro.crypto.fuse_sdcard true

service griffon /system/bin/gps-start.sh
   class main
   socket gpsd39 dgram 0660 gps system inet
   socket gpsd16 dgram 0660 gps system inet
   user gps
   group gps system qcom_diag diag log inet

on post-fs-data
    # we will remap this as /storage/sdcard0 with the sdcard fuse tool
    mkdir /data/media 0770 media_rw media_rw
    chown media_rw media_rw /data/media

    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

    # Create directories for wiper services
    mkdir /data/wpstiles/ 0755 shell
    mkdir /data/wiper 0755 gps qcom_oncrpc

    #Create directories for gpsone_daemon services
    mkdir /data/misc/gpsone_d 0770 system gps

    #Create directories for Location services
    mkdir /data/misc/location 0770 gps gps
    mkdir /data/misc/location/mq 0770 gps gps
    mkdir /data/misc/location/xtwifi 0770 gps gps

    # provide the access to hostapd.conf only to root and group
    chmod 0660 /data/hostapd/hostapd.conf

    # set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

on boot
    # bluetooth and rfkill
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0660 /dev/ttyHS0
    chown bluetooth bluetooth /sys/devices/platform/msm_serial_hs.0/clock
    chmod 0660 /sys/devices/platform/msm_serial_hs.0/clock

    # TelephonyManager.java requires this
    chmod 0644 /proc/cmdline

    # create QMUX deamon socket area
    mkdir /dev/socket/qmux_radio 0770 radio radio
    chmod 2770 /dev/socket/qmux_radio
    mkdir /dev/socket/qmux_audio 0770 media audio
    chmod 2770 /dev/socket/qmux_audio
    mkdir /dev/socket/qmux_bluetooth 0770 bluetooth bluetooth
    chmod 2770 /dev/socket/qmux_bluetooth
    mkdir /dev/socket/qmux_gps 0770 gps gps
    chmod 2770 /dev/socket/qmux_gps

    # allow QMUX daemon to set open timeout
    chown radio radio /sys/devices/virtual/smdpkt/smdcntl0/open_timeout

    # lights and torch
    chown system system /sys/class/sec/sec_touchkey/brightness
    chmod 0666 /sys/class/camera/rear/rear_flash

   # Sensors
#geomagnetic sensor
    chown system system /sys/class/input/input4/chip_id
    chown system system /sys/class/input/input4/raw_data
    chown system system /sys/class/input/input4/op_mode
    chown system system /sys/class/input/input4/selftest
    chown system system /sys/class/input/input4/value
    chown system system /sys/class/input/input4/enable
    chown system system /sys/class/input/input4/delay
    chown system system /sys/class/input/input4/rept_xy
    chown system system /sys/class/input/input4/rept_z  
    chown system system /sys/class/input/input4/odr
    chown system system /sys/class/input/input4/layout
    chown system system /sys/class/input/input4/value_raw
    
    chmod 0664 /sys/class/input/input4/layout
    chmod 0664 /sys/class/input/input4/chip_id
    chmod 0664 /sys/class/input/input4/raw_data
    chmod 0664 /sys/class/input/input4/op_mode
    chmod 0664 /sys/class/input/input4/selftest
    chmod 0664 /sys/class/input/input4/value
    chmod 0664 /sys/class/input/input4/value_raw
        
    chown system system /sys/class/sensors/magnetic_sensor/chip_id
    chown system system /sys/class/sensors/magnetic_sensor/raw_data
    chown system system /sys/class/sensors/magnetic_sensor/op_mode
    chown system system /sys/class/sensors/magnetic_sensor/selftest
    chown system system /sys/class/sensors/magnetic_sensor/value
    chown system system /sys/class/sensors/magnetic_sensor/enable
    chown system system /sys/class/sensors/magnetic_sensor/delay
    chown system system /sys/class/sensors/magnetic_sensor/rept_xy
    chown system system /sys/class/sensors/magnetic_sensor/rept_z  
    chown system system /sys/class/sensors/magnetic_sensor/odr
    chown system system /sys/class/sensors/magnetic_sensor/layout
    chown system system /sys/class/sensors/magnetic_sensor/value_raw
    
    chmod 0664 /sys/class/sensors/magnetic_sensor/layout
    chmod 0664 /sys/class/sensors/magnetic_sensor/chip_id
    chmod 0664 /sys/class/sensors/magnetic_sensor/raw_data
    chmod 0664 /sys/class/sensors/magnetic_sensor/op_mode
    chmod 0664 /sys/class/sensors/magnetic_sensor/selftest
    chmod 0664 /sys/class/sensors/magnetic_sensor/value
    chmod 0664 /sys/class/sensors/magnetic_sensor/value_raw
    
#acc sensor
    chown system system /sys/class/input/input3/raw_data
    chown system system /sys/class/input/input3/value
    chown system system /sys/class/input/input3/fast_calibration_x
    chown system system /sys/class/input/input3/fast_calibration_y
    chown system system /sys/class/input/input3/fast_calibration_z
    chown system system /sys/class/input/input3/eeprom_writing
    chown system system /sys/class/input/input3/mode
    chown system system /sys/class/input/input3/enable
    chown system system /sys/class/input/input3/offset_filt_x
    chown system system /sys/class/input/input3/offset_filt_y
    chown system system /sys/class/input/input3/offset_filt_z
    chown system system /sys/class/input/input3/selftest
    chown system system /sys/class/input/input3/delay
    chown system system /sys/class/input/input3/update
    chown system system /sys/class/input/input3/range
    chown system system /sys/class/input/input3/bandwidth
    chown system system /sys/class/input/input3/layout

    chmod 0664 /sys/class/input/input3/layout
    chmod 0664 /sys/class/input/input3/raw_data
    chmod 0664 /sys/class/input/input3/value
    chmod 0664 /sys/class/input/input3/fast_calibration_x
    chmod 0664 /sys/class/input/input3/fast_calibration_y
    chmod 0664 /sys/class/input/input3/fast_calibration_z
    chmod 0664 /sys/class/input/input3/eeprom_writing
    chmod 0664 /sys/class/input/input3/enable

    chmod 0664 /sys/devices/virtual/input/input3/calibration
    chmod 0664 /sys/devices/virtual/input/input3/enable_int 
    chmod 0664 /sys/devices/virtual/input/input3/fifo_framecount 
    chmod 0664 /sys/devices/virtual/input/input3/fifo_mode
    chmod 0664 /sys/devices/virtual/input/input3/fifo_trig_src
    chmod 0664 /sys/devices/virtual/input/input3/flat_hold_time
    chmod 0664 /sys/devices/virtual/input/input3/flat_theta 
    chmod 0664 /sys/devices/virtual/input/input3/high_g_duration 
    chmod 0664 /sys/devices/virtual/input/input3/high_g_threshold
    chmod 0664 /sys/devices/virtual/input/input3/low_g_duration
    chmod 0664 /sys/devices/virtual/input/input3/low_g_threshold 
    chmod 0664 /sys/devices/virtual/input/input3/offset_x 
    chmod 0664 /sys/devices/virtual/input/input3/offset_y
    chmod 0664 /sys/devices/virtual/input/input3/offset_z 
    chmod 0664 /sys/devices/virtual/input/input3/range
    chmod 0664 /sys/devices/virtual/input/input3/reactive_alert
    chmod 0664 /sys/devices/virtual/input/input3/selftest 
    chmod 0664 /sys/devices/virtual/input/input3/slope_duration
    chmod 0664 /sys/devices/virtual/input/input3/slope_no_mot_threshold 
    chmod 0664 /sys/devices/virtual/input/input3/slope_threshold
    chmod 0664 /sys/devices/virtual/input/input3/softreset 
    chmod 0664 /sys/devices/virtual/input/input3/tap_quiet
    chmod 0664 /sys/devices/virtual/input/input3/tap_samp 
    chmod 0664 /sys/devices/virtual/input/input3/tap_shock
#acc sensor
    chown system system /sys/class/sensors/accelerometer_sensor/raw_data
    chown system system /sys/class/sensors/accelerometer_sensor/value
    chown system system /sys/class/sensors/accelerometer_sensor/fast_calibration_x
    chown system system /sys/class/sensors/accelerometer_sensor/fast_calibration_y
    chown system system /sys/class/sensors/accelerometer_sensor/fast_calibration_z
    chown system system /sys/class/sensors/accelerometer_sensor/eeprom_writing
    chown system system /sys/class/sensors/accelerometer_sensor/mode
    chown system system /sys/class/sensors/accelerometer_sensor/enable
    chown system system /sys/class/sensors/accelerometer_sensor/offset_filt_x
    chown system system /sys/class/sensors/accelerometer_sensor/offset_filt_y
    chown system system /sys/class/sensors/accelerometer_sensor/offset_filt_z
    chown system system /sys/class/sensors/accelerometer_sensor/selftest
    chown system system /sys/class/sensors/accelerometer_sensor/delay
    chown system system /sys/class/sensors/accelerometer_sensor/update
    chown system system /sys/class/sensors/accelerometer_sensor/range
    chown system system /sys/class/sensors/accelerometer_sensor/bandwidth
    chown system system /sys/class/sensors/accelerometer_sensor/reactive_alert
    chown system system /sys/class/sensors/accelerometer_sensor/calibration
    chown system system /sys/class/sensors/accelerometer_sensor/layout
    
    chmod 0664 /sys/class/sensors/accelerometer_sensor/layout    
    chmod 0664 /sys/class/sensors/accelerometer_sensor/raw_data
    chmod 0664 /sys/class/sensors/accelerometer_sensor/value
    chmod 0664 /sys/class/sensors/accelerometer_sensor/fast_calibration_x
    chmod 0664 /sys/class/sensors/accelerometer_sensor/fast_calibration_y
    chmod 0664 /sys/class/sensors/accelerometer_sensor/fast_calibration_z
    chmod 0664 /sys/class/sensors/accelerometer_sensor/eeprom_writing
    chmod 0664 /sys/class/sensors/accelerometer_sensor/enable
    chmod 0664 /sys/class/sensors/accelerometer_sensor/selftest
    chmod 0664 /sys/class/sensors/accelerometer_sensor/calibration
    chmod 0664 /sys/class/sensors/accelerometer_sensor/reactive_alert
    
    chown system system /efs/calibration_data    
    chmod 0666 /efs/calibration_data

#proximity sensor
    chown system system /sys/class/input/input2/enable
    chmod 0664 /sys/class/input/input2/enable

    chown system system /sys/class/sensors/proximity_sensor/enable
    chown system system /sys/class/sensors/proximity_sensor/state
    chown system system /sys/class/sensors/proximity_sensor/name
    chown system system /sys/class/sensors/proximity_sensor/vendor
    chown system system /sys/class/sensors/proximity_sensor/prox_cal

    chmod 0664 /sys/class/sensors/proximity_sensor/enable
    chmod 0664 /sys/class/sensors/proximity_sensor/state
    chmod 0664 /sys/class/sensors/proximity_sensor/name
    chmod 0664 /sys/class/sensors/proximity_sensor/vendor
    chmod 0664 /sys/class/sensors/proximity_sensor/prox_cal


    write /sys/module/pm2/modes/cpu0/standalone_power_collapse/idle_enabled 1
    write /sys/module/pm2/modes/cpu1/standalone_power_collapse/idle_enabled 1
    write /sys/module/pm2/modes/cpu2/standalone_power_collapse/idle_enabled 1
    write /sys/module/pm2/modes/cpu3/standalone_power_collapse/idle_enabled 1
    write /sys/module/pm2/modes/cpu0/standalone_power_collapse/suspend_enabled 1
    write /sys/module/pm2/modes/cpu1/standalone_power_collapse/suspend_enabled 1
    write /sys/module/pm2/modes/cpu2/standalone_power_collapse/suspend_enabled 1
    write /sys/module/pm2/modes/cpu3/standalone_power_collapse/suspend_enabled 1
    write /sys/module/pm2/modes/cpu0/power_collapse/suspend_enabled 1
    write /sys/module/pm2/modes/cpu0/power_collapse/idle_enabled 1
    write /sys/devices/system/cpu/cpufreq/ondemand/sampling_rate 25000

    chown system /sys/devices/system/cpu/cpufreq/ondemand/sampling_rate
    chown system /sys/devices/system/cpu/cpufreq/ondemand/sampling_down_factor
    chown system /sys/devices/system/cpu/cpufreq/ondemand/io_is_busy

    chown system system /efs/prox_cal    
    chmod 0666 /efs/prox_cal

service sensord /system/bin/sensord
	class main
	user system
	group system
#    oneshot
#    start sensord

# BMC050 compass/accelerometer daemon
service sensord /system/bin/sensord
    class main
    oneshot

on charger
    # enable powersave governor when charging
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "powersave"

service playlpm /system/bin/playlpm
    class charger
    oneshot

# create virtual SD card at /storage/sdcard, based on the /data/media directory
# daemon will drop to user/group system/media_rw after initializing
# underlying files in /data/media will be created with user and group media_rw (1023)
service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
    class late_start

# fusewrapped external sdcard daemon running as media_rw (1023)
service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard1 /storage/sdcard1
    class late_start
    disabled

service lpmkey /system/bin/lpmkey
    class charger
    oneshot

service rmt_storage /system/bin/rmt_storage
    class main

service qmuxd /system/bin/qmuxd
    class main
    user radio
    group radio audio bluetooth gps

service netmgrd /system/bin/netmgrd
    class main
    group radio

service thermal-engine /system/bin/thermald -c /system/etc/thermald.conf
    class main

service mpdecision /system/bin/mpdecision --no_sleep --avg_comp
    class main

service qosmgrd /system/bin/qosmgr /system/etc/qosmgr_rules.xml
    class main

service mm-qcamerad /system/bin/mm-qcamera-daemon
    class late_start
    user camera
    group camera system inet audio

service gpu_dcvsd /system/bin/gpu_dcvsd
    class late_start
    oneshot

service hciattach /system/bin/sh /system/etc/init.qcom.bt.sh
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service hostapd /system/bin/hostapd -dddd /data/hostapd/hostapd.conf
    class late_start
    user root
    group root
    oneshot
    disabled

service wpa_supplicant /system/bin/logwrapper /system/bin/wpa_supplicant -ddd \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -O/data/misc/wifi/sockets \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service p2p_supplicant  /system/bin/logwrapper /system/bin/wpa_supplicant -ddd \
    -ip2p0 -Dnl80211 -c/data/misc/wifi/p2p_supplicant.conf \
    -I/system/etc/wifi/p2p_supplicant_overlay.conf -N \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -O/data/misc/wifi/sockets -puse_p2p_group_interface=1 \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_bnep0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service fm_dl /system/bin/sh /system/etc/init.qcom.fm.sh
    class main
    user root
    group system qcom_oncrpc
    disabled
    oneshot

service_redefine ril-daemon /system/bin/rild
    class main
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    user root
    group radio cache inet misc audio log qcom_diag qcom_oncrpc

service ril-daemon1 /system/bin/rild -c 1
    class main
    socket rild2 stream 660 root radio
    socket rild-debug2 stream 660 radio system
    user root
    group radio cache inet misc audio sdcard_rw qcom_oncrpc qcom_diag log

# SISO-ANDR-PERF :: START Changing governor to interactive and scheduler to cfq after boot complete
on property:sys.boot_completed=1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor	ondemand
    write /sys/block/mmcblk0/queue/scheduler cfq
# SISO-ANDR-PERF :: END HERE
